---
import PageLayout from '@components/astro/PageLayout.astro';
import Button from '@components/svelte/Button.svelte';
import { SITE } from '@config/site';
import type { Locale } from '@type/locale';

interface Props {
    code: number;
    title: string;
    description: string;
    homeButtonText: string;
    homeLink?: string;
    locale: Locale;
}

const { code, title, description, homeButtonText, homeLink = '/', locale } = Astro.props as Props;
---

<PageLayout
    title={`${code} - ${title} | ${SITE.NAME}`}
    description={description}
    permalink={`${Astro.url.origin}/${code}`}
    locale={locale}
>
    <div class="container mx-auto flex select-none flex-col items-center justify-center px-4 py-8 text-center">
        <h1 class="mb-6 block w-full font-sans text-7xl font-light">
            {code}
        </h1>

        <p class="mb-8 w-full space-y-3">
            {description}
        </p>

        <Button client:load href={homeLink}>{homeButtonText}</Button>
        <hr />
        <Button client:load href={homeLink} size="sm">{homeButtonText}</Button>
        <hr />
        <Button client:load variant="secondary" href={homeLink}>{homeButtonText}</Button>
        <hr />
        <Button client:load variant="secondary" href={homeLink} size="sm">{homeButtonText}</Button>
        <hr />
        <Button client:load variant="outline" href={homeLink}>{homeButtonText}</Button>
        <hr />
        <Button client:load variant="outline" href={homeLink} size="sm">{homeButtonText}</Button>
    </div>
</PageLayout>
