---
import PageLayout from '@components/astro/PageLayout.astro';
import Button from '@components/svelte/Button.svelte';
import { SITE } from '@config/site';
import type { Locale } from '@type/locale';

interface Props {
    code: number;
    title: string;
    description: string;
    homeButtonText: string;
    homeLink?: string;
    locale: Locale;
}

const { code, title, description, homeButtonText, homeLink = '/', locale } = Astro.props as Props;
---

<PageLayout
    title={`${code} - ${title} | ${SITE.NAME}`}
    description={description}
    permalink={`${Astro.url.origin}/${code}`}
    locale={locale}
>
    <div
        class="container mx-auto flex select-none flex-col items-start justify-start px-4 py-[27px] sm:py-[22px] md:max-w-screen-md md:py-[34px] lg:max-w-[928px]"
    >
        <h1
            class="-ml-[1.5px] mb-[5px] block w-full text-[36px] leading-[36px] sm:text-[40px] sm:leading-[40px] md:-ml-[4px] md:mb-[9px] md:text-[73px] md:font-light md:leading-[72px] md:tracking-tight"
        >
            {code}.
            <span class="block text-balance">{description}</span>
        </h1>

        <Button client:load href={homeLink}>{homeButtonText}</Button>
    </div>
</PageLayout>
