---
import SocialLinks from '@components/astro/SocialLinks.astro';
import { getRoute } from '@config/routes';
import { DEFAULT_LOCALE } from '@i18n/config.ts';
import { getTranslation } from '@i18n/translations';
import type { Locale } from '@type/locale';

export interface Props {
    locale: Locale;
}

const { locale: localeProp } = Astro.props as Partial<Props>;
const locale: Locale = localeProp ?? DEFAULT_LOCALE;
const t = getTranslation(locale);
const currentYear = new Date().getFullYear();
---

<footer class="footer select-none bg-zinc-900 text-zinc-200 dark:border-t-2">
    <div class="container mx-auto px-4 py-2.5 sm:py-[18px] md:max-w-3xl md:py-[48px] md:pb-[34px] lg:max-w-[928px]">
        <div class="grid gap-4 md:grid-cols-3">
            <div class="md:-my-6">
                <h3 class="-ml-px">Ambilab</h3>

                <p class="-ml-px text-balance font-mono text-[11px] uppercase leading-3 antialiased">
                    {t.footer.description}
                </p>
            </div>

            <div class="-ml-px font-mono text-[11px] uppercase leading-3 antialiased">
                <ul class="space-y-0">
                    <li>
                        <a href={getRoute('home', locale)}>
                            {t.nav.home}
                        </a>
                    </li>

                    <li>
                        <a href={getRoute('projects', locale)}>
                            {t.nav.projects}
                        </a>
                    </li>

                    <li>
                        <a href={getRoute('rss', locale)}>
                            {t.nav.rss}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="font-mono text-[11px] uppercase leading-3 antialiased">
                <h4 class="-ml-px mb-0.5">
                    {t.footer.followAmbilab}
                </h4>

                <SocialLinks />
            </div>
        </div>

        <div class="-ml-px mt-[18px] font-mono text-[11px] uppercase leading-3 antialiased">
            {t.footer.copyright} © {currentYear} Ambilab. {t.footer.allRightsReserved}.
        </div>
    </div>
</footer>

<style>
    .footer {
        padding-bottom: var(--cookie-banner-height, 0px);

        @media (min-width: 640px) {
            padding-bottom: var(--cookie-banner-height-sm, 0px);
        }

        @media (min-width: 768px) {
            padding-bottom: var(--cookie-banner-height-md, 0px);
        }
    }
</style>
