---
import MenuNav from '@components/astro/MenuNav.astro';
import LocaleSwitcher from '@components/svelte/LocaleSwitcher.svelte';
import MobileMenu from '@components/svelte/MobileMenu.svelte';
import ThemeSwitcher from '@components/svelte/ThemeSwitcher.svelte';
import { getRoute } from '@config/routes';
import { getTranslation } from '@i18n/translations';
import type { Locale } from '@type/locale';

export interface Props {
    locale: Locale;
    currentPath: string;
    translationPath?: string | undefined;
}

const { locale, currentPath, translationPath } = Astro.props as Props;

const t = getTranslation(locale);
---

<header class="z-(--z-header) sticky top-0 select-none">
    <a
        href="#main-content"
        class="focus:z-(--z-skip-navigation-link) sr-only font-mono text-[11px] uppercase focus:not-sr-only focus:absolute focus:left-2 focus:top-2 focus:bg-page-bg focus:px-2 focus:py-1 focus:text-text-primary focus:outline-none focus:ring-4 focus:ring-blue-600 dark:focus:bg-page-bg-dark dark:focus:text-text-primary-dark dark:focus:ring-blue-400"
    >
        {t.a11y.skipNavigationLink}
    </a>

    <div
        class="z-(--z-header-bar) relative mx-auto border-b border-border-default bg-page-bg px-4 dark:border-border-default-dark dark:bg-page-bg-dark"
    >
        <div
            class="mx-auto flex h-12 items-center justify-between pb-px font-mono text-[11px] uppercase sm:max-w-[608px] md:h-20 md:max-w-[736px] lg:max-w-[896px]"
        >
            <div class="flex items-center gap-8">
                <div class="shrink-0">
                    <a href={getRoute('home', locale)} class="block" aria-label="Ambilab Home">
                        <svg width="78" height="24" viewBox="0 0 52 16" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M52,0 L52,16 L0,16 L0,0 L52,0 Z"
                                class="fill-text-primary dark:fill-text-primary-dark"></path>

                            <path
                                d="M17,4 L11,4 L11,12 L13,12 L13,6.00120245 L14,6.00120245 L14,12 L16,12 L16,6 L17,6 L17,12 L18.5827497,12.0009516 C18.6315999,12.000981 18.6776006,12.0010086 18.7199376,12.0010341 L19.0000126,12.0012024 L19.0000126,6 L18,6 L18,5 L17,5 L17,4 Z M10,4 L6,4 L6,5 L5,5 L5,6 L4,6 L4,12 L6,12 L6,10 L8,10.0012024 L8,12 L10,12 L10,4 Z M25,4 L20,4 L20,12 L25,12 L25,11 L26,11 L26,8 L25,8 L25,7 L26,7 L26,5 L25,5 L25,4 Z M29,4 L27,4 L27,12 L29,12 L29,4 Z M32,4 L30,4 L30,12 L37,12 L37,10 L39,10 L39,12 L41,12 L41,4 L37,4 L37,5 L36,5 L36,6 L35,6 L35,10 L32,10 L32,4 Z M47,4 L42,4 L42,12 L47,12 L47,11 L48,11 L48,8 L47,8 L47,7 L48,7 L48,5 L47,5 L47,4 Z M24,9 L24,10 L22,10 L22,9 L24,9 Z M46,9 L46,10 L44,10 L44,9 L46,9 Z M8,6 L8,8 L6,8 L6,7 L7,7 L7,6 L8,6 Z M39,6 L39,8 L37,8 L37,7 L38,7 L38,6 L39,6 Z M24,6 L24,7 L22,7 L22,6 L24,6 Z M46,6 L46,7 L44,7 L44,6 L46,6 Z"
                                fill-rule="evenodd"
                                class="fill-page-bg dark:fill-page-bg-dark"></path>
                        </svg>
                    </a>
                </div>

                <nav aria-label="Main navigation" class="hidden items-center md:flex">
                    <MenuNav locale={locale} currentPath={currentPath} mobile={false} />
                </nav>
            </div>

            <div class="hidden items-center md:flex">
                <LocaleSwitcher client:load currentLocale={locale} translationPath={translationPath} />

                <ThemeSwitcher client:load />
            </div>

            <div class="md:hidden">
                <MobileMenu client:load>
                    <div class="flex flex-col items-center justify-start px-4">
                        <div class="w-full py-4 text-left sm:max-w-[608px]">
                            <MenuNav locale={locale} currentPath={currentPath} mobile={true} />
                        </div>

                        <div class="flex w-full items-end justify-end pb-4 pr-2 sm:max-w-[608px]">
                            <LocaleSwitcher client:load currentLocale={locale} translationPath={translationPath} />

                            <ThemeSwitcher client:load />
                        </div>
                    </div>
                </MobileMenu>
            </div>
        </div>
    </div>
</header>
