---
import { getRoute } from '@config/routes';
import { getTranslation } from '@i18n/translations';
import type { Locale } from '@type/locale';
import { normalizeSlug } from '@utils/content-loader';
import { formatDate } from '@utils/formatDate';
import type { CollectionEntry } from 'astro:content';

export interface Props {
    posts: CollectionEntry<'news'>[];
    locale: Locale;
    limit?: number;
}

const { posts, locale, limit } = Astro.props as Props;
const t = getTranslation(locale);
const hasLimit = typeof limit === 'number';
const displayPosts = hasLimit ? posts.slice(0, Math.max(0, limit)) : posts;
---

{
    displayPosts.length === 0 ? (
        <p class="font-mono text-[11px] uppercase leading-3 antialiased">{t.news.noPosts}</p>
    ) : (
        <div class="select-none space-y-8">
            {displayPosts.map((post) => {
                const postSlug = normalizeSlug(post.id);
                const postUrl = `${getRoute('news', locale)}/${postSlug}`;

                return (
                    <a href={postUrl}>
                        <article class="card-with-shadows [&:hover,&:focus]:bg-text-primary -mx-[16px] bg-card-bg px-[16px] pb-[2px] pt-[16px] text-card-text">
                            <h2 class="mt-px! md:mt-[2px]! mb-2! text-[20px] leading-[20px] md:text-[24px] md:leading-[24px]">
                                {post.data.title}
                            </h2>

                            <div class="font-mono text-[11px] uppercase leading-3 antialiased">
                                <time datetime={post.data.pubDate.toISOString()}>
                                    {formatDate(post.data.pubDate, locale)}
                                </time>
                            </div>

                            <p class="my-3">{post.data.description}</p>
                        </article>
                    </a>
                );
            })}
        </div>
    )
}
